/* Error: Undefined variable.
 *    ,
 * 25 |     background-image: url(#{variables.$flag-icons-path}#{variables.$flag-icons-rect-path}/#{$country}.svg);
 *    |                             ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   open-flag-icons/sass/_flag-icons-base.scss 25:29  flag-icon()
 *   open-flag-icons/sass/_flag-icons-list.scss 5:3    @use
 *   open-flag-icons/sass/flag-icons.scss 3:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502      background-image: url(#{variables.$flag-icons-path}#{variables.$flag-icons-rect-path}/#{$country}.svg);\a    \2502                              ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   open-flag-icons/sass/_flag-icons-base.scss 25:29  flag-icon()\a   open-flag-icons/sass/_flag-icons-list.scss 5:3    @use\a   open-flag-icons/sass/flag-icons.scss 3:1          root stylesheet";
}
